/* universal selector */
* {
    /* color: red; */

    margin: 0;
    padding: 0;
}

/* tag seleector/element selector */
h1 {
    color: rgb(255, 0, 13);
    text-align: center;
}

/* attribute selector */
a[title="google"] {
    color: green;
}

/* id selector */
#idselector {
    color: blue;

}

/* class selector */
.classselector {
    color: brown;
    text-transform: capitalize;
    font-size: 20px;
    text-indent: 50px;

}


/* Descendant selector */
.desc a {
    color: rgb(15, 130, 138);
}

/* child Selector */
.child>a {
    color: red;
}


/* Pseudo */
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    letter-spacing: 10px;
}

a:active {
    color: blue;
    font-size: 20px;
}

a:visited {
    color: purple;
}

/* target */
div:target {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Border */

.borderone {
    border: 2px double green;

    /* size style color */
}

.bordertwo {
    border-bottom: 5px solid red;
}

/* border width */
.borderthree {
    border-style: solid;
    /* border-width: 10px; */
    /* T / R / B / L */
    /* border-width: 5px 50px; */
    /* T&B / L&R */
    /* border-width: 5px 10px 50px; */
    /* T / L&R / B */
    border-width: 5px 10px 15px 20px;
    /* T / R / B / L */
}

/* border style */
.border4 {
    /* border-style: solid; */
    /* border-style: dotted solid; */
    /* border-style: dotted dashed solid; */
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue;
}

/* Margin */

.marginone {
    border: 2px solid red;
    /* margin: 50px 0px 0px 0px; */

    margin-top: 50px;
}

/* padding */
.paddingone {
    border: 2px solid red;
    padding: 50px;

    padding-top: 50px;
}

/* Inline Layout */

.inline {
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block {
    border: 2px solid green;
    width: 300px;
    display: inline-block;
}

/* float */


.float1 {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
}

.float2 {
    width: 50%;
    float: left;
}


/* ---- Flex ---- */

.flex {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* top button */
    justify-content: center;
    height: 100px;
    background-color: red;
}


/* grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    color: #FFFFFF;
     /* grid-row-gap: 40px; */
    /* grid-column-gap: 30px; */
    /* grid-gap: 30px; */
}

.grid-child, .grid div{
    padding: 20px;
    text-align: center;
}

.row_add{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.column_add{
    grid-column-start: 2;
    grid-column-end: 4;
}

/* .media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
} */

.media img{
    width: 100%;
}

/* @media screen and (max-width: 1024px){
    .media{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .media{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .media{
        grid-template-columns: repeat(1, 1fr);
    }
}

mobile first */

.media{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

@media screen and (min-width: 480px){
    .media{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .media{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px){
    .media{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* position */
.position_relative{
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}

.position_relative_child{
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    /* top button left right */
    top: 5px;
    left: 50px;
}